## Testing

In [1]:
pip install PyYAML

Requirement already satisfied: PyYAML in e:\mstudy_material\itech\ineuron\projects\ml_projects\machine_learning_project_01(housingpredictions)\venv\lib\site-packages (5.4.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import os

In [3]:
os.getcwd()

'e:\\MStudy_material\\iTech\\iNeuron\\Projects\\ML_projects\\Machine_Learning_Project_02(Insurance Premium Prediction)\\Raza-Insurance_Price_prediction_ML_project_02\\Notebook'

In [4]:
os.chdir("e:\\MStudy_material\\iTech\\iNeuron\\Projects\\ML_projects\\Machine_Learning_Project_02(Insurance Premium Prediction)\\Raza-Insurance_Price_prediction_ML_project_02")

In [5]:
os.getcwd()

'e:\\MStudy_material\\iTech\\iNeuron\\Projects\\ML_projects\\Machine_Learning_Project_02(Insurance Premium Prediction)\\Raza-Insurance_Price_prediction_ML_project_02'

In [6]:
from insurance_premium.util.util import read_yaml_file

In [7]:
yaml_file_path = "e:\\MStudy_material\\iTech\\iNeuron\\Projects\\ML_projects\\Machine_Learning_Project_02(Insurance Premium Prediction)\\Raza-Insurance_Price_prediction_ML_project_02\\config\\schema.yaml"

In [8]:
data_validation_schema_info = read_yaml_file(yaml_file_path)

In [9]:
dataset_schema_info= data_validation_schema_info['columns']

In [10]:
dataset_schema_info

{'age': 'int',
 'sex': 'object',
 'bmi': 'float',
 'children': 'int',
 'smoker': 'object',
 'region': 'object',
 'expenses': 'float'}

In [11]:
len(dataset_schema_info.keys())

7

In [12]:
list(dataset_schema_info.keys())

['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'expenses']

In [13]:
import pandas as pd
train_df = pd.read_csv(r"E:\MStudy_material\iTech\iNeuron\Projects\ML_projects\Machine_Learning_Project_02(Insurance Premium Prediction)\Raza-Insurance_Price_prediction_ML_project_02\insurance_premium\artifact\data_ingestion\2022-09-14-13-41-50\ingested_data\train\insurance.csv")
test_df = pd.read_csv(r"E:\MStudy_material\iTech\iNeuron\Projects\ML_projects\Machine_Learning_Project_02(Insurance Premium Prediction)\Raza-Insurance_Price_prediction_ML_project_02\insurance_premium\artifact\data_ingestion\2022-09-14-13-41-50\ingested_data\test\insurance.csv")

In [14]:
data_validation_schema_info = read_yaml_file(yaml_file_path)

In [15]:
COLUMN_AGE = "age"
COLUMN_SEX = "sex"
COLUMN_BMI = "bmi"
COLUMN_CHILDREN = "children"
COLUMN_SMOKER= "smoker"
COLUMN_REGION = "region"
DATASET_SCHEMA_COLUMNS_KEY = "columns"

TARGET_COLUMN_KEY = "target_column"

NUMERICAL_COLUMN_KEY = "numerical_columns"
CATEGORICAL_COLUMN_KEY = "categorical_columns"

DOMAIN_VALUES_COLUMN_KEY = "domain_value"

In [16]:
def validation_status_check():
    validation_status = False
    dataset_schema_info =  data_validation_schema_info[DATASET_SCHEMA_COLUMNS_KEY]
    domain_values_info = data_validation_schema_info[DOMAIN_VALUES_COLUMN_KEY]
    dataset_columns_name = set(dataset_schema_info.keys())
    train_columns_name = set(train_df.columns)
    test_columns_name = set(test_df.columns)
    data_set_column_number = len(dataset_columns_name)
    train_column_number = len(train_columns_name)
    test_column_number = len(test_columns_name)

    sex_domain_value = set(domain_values_info[COLUMN_SEX])
    region_domain_value = set(domain_values_info[COLUMN_REGION])
    smoker_domain_value = set(domain_values_info[COLUMN_SMOKER])

    train_domain_value_sex = set(train_df[COLUMN_SEX].unique())
    train_domain_value_region = set(train_df[COLUMN_REGION].unique())
    train_domain_value_smoker = set(train_df[COLUMN_SMOKER].unique())

    test_domain_value_sex = set(test_df[COLUMN_SEX].unique())
    test_domain_value_region = set(test_df[COLUMN_REGION].unique())
    test_domain_value_smoker = set(test_df[COLUMN_SMOKER].unique())

    if (train_column_number == data_set_column_number) and (test_column_number == data_set_column_number):
        if (train_columns_name == dataset_columns_name) and (test_columns_name == dataset_columns_name):
            if (train_domain_value_sex == sex_domain_value) and (test_domain_value_sex == sex_domain_value):
                if (train_domain_value_region == region_domain_value) and (test_domain_value_region == region_domain_value):
                    if (train_domain_value_smoker == smoker_domain_value) and (test_domain_value_smoker == smoker_domain_value):
                        validation_status = True
    else:
        pass
    return validation_status

In [17]:
validation_status_check()

True

In [4]:
import pandas as pd
dataset = pd.read_csv("https://raw.githubusercontent.com/Tanweer-Raza/data_set_for_project/main/insurance.csv")

In [5]:
dataset.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [6]:
dataset.describe()

               age          bmi     children      expenses
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.665471     1.094918  13270.422414
std      14.049960     6.098382     1.205493  12110.011240
min      18.000000    16.000000     0.000000   1121.870000
25%      27.000000    26.300000     0.000000   4740.287500
50%      39.000000    30.400000     1.000000   9382.030000
75%      51.000000    34.700000     2.000000  16639.915000
max      64.000000    53.100000     5.000000  63770.430000

In [13]:
dataset['age']

19